.well span {
 color: red;
}

.fc_red{color:#ff0000;}


.r_con_form{
    border-top:0px solid #ddd;
    margin: 20px;
}
.r_con_form .rows{clear:both; border-bottom:1px solid #ddd; height: auto}
.r_con_form .rows:hover{background:#E4F1FC;}
.r_con_form .rows label{width:15%; padding:8px 0; overflow:hidden; float:left; height:28px; line-height:25px; text-align:center;}
.r_con_form .rows .input{width:80%; padding:8px 0; overflow:hidden; float:left; min-height:28px; padding-left:10px; display:block; border-left:1px solid #ddd;}
.r_con_form .rows .input .form_input{height:28px; line-height:28px; border:1px solid #ddd; background:#fff; border-radius:5px; padding:0 5px;}
.r_con_form .rows .input .disable{cursor: not-allowed;background:#e3e3e3}
.r_con_form .rows .input .form_input_disable{height:28px; line-height:28px; border:1px solid #ddd; background:#e3e3e3; border-radius:5px; padding:0 5px;cursor: not-allowed}
.r_con_form .rows .input .form_inputgray{height:28px; color:#383838; line-height:28px; border:1px solid #ddd; background:#A1A1A1; border-radius:5px; padding:0 5px;}
.r_con_form .rows .input .form_textgray{color:#383838; background:#A1A1A1;}
.r_con_form .rows .input select{height:32px; border:1px solid #ddd; padding:5px; vertical-align:middle; border-radius:5px;}
.tiledis {height:32px; border:1px solid #ddd; padding:5px; vertical-align:middle; border-radius:5px;}

.r_con_form .rows .inputdisable textarea{width:350px; height:70px; padding:5px; line-height:150%; border:1px solid #ddd; background:#e3e3e3; border-radius:5px; vertical-align:top;cursor: not-allowed;}
.r_con_form .rows .input .tips{height:28px; line-height:28px; color:#888; font-size:12px;}
.r_con_form .rows .input .tips *{font-size:12px;}
.r_con_form .rows .input .tips a{color:#ff6600; text-decoration:underline;}
.r_con_form .rows .input .upload_file .up_input{float:left;}
.r_con_form .rows .input .upload_file .tips{float:left; margin-left:10px;}
.r_con_form .rows .input .upload_file .img img{background:#ccc; border:1px solid #ddd; max-height:200px; max-width:600px;}
.r_con_form .rows .opt{padding-top:5px;}
.r_con_form .rows .primary{background:#1584D5; color:#fff; margin-left:5px; border-radius:5px; padding:4px 15px;}
.r_con_form #map{width:600px; height:300px;}

.r_con_form .rows .input #attrTable input{height:28px; line-height:28px; border:1px solid #ddd; background:#fff; border-radius:5px; padding:0 5px;}
.r_con_form .rows .input #attrTabledit input{height:28px; line-height:28px; color:#383838; border:1px solid #ddd; background:#A1A1A1; border-radius:5px; padding:0 5px;}

#wechat_info .oauth_tips *{font-size:12px;}
#wechat_info .oauth_tips h4{color:#555;}

.r_con_form .rows .btn_green{
    display:block;
    height:30px;
    line-height:30px;
    background:#1584D5;
    border:none;
    color:#fff;
    width:145px;
    border-radius:5px;
    text-align:center;
    text-decoration:none;
    float:left;
    margin-right:10px;
}


#token .set_token_msg{height:30px; line-height:30px; text-indent:130px; color:red; display:none;}
#token .tips_info{background:#f7f7f7; border-radius:5px; border:1px solid #ddd; line-height:22px; padding:10px 10px; margin-bottom:10px; font-size:12px;}
#token .tips_info strong{color:#444;}
#token .input .tips{font-size:14px;}
#token .r_con_form .rows label{width:120px;}
#token .r_con_form .rows input[type=radio]{
    float:left;
    height: 35px;
    line-height: 35px;
}
#token .r_con_form .rows .input{ width: 80%}
.textbox{
    float:left;
    padding:5px;
    color:#999;
    height:35px;
    line-height:35px;
    border:1px #ccc solid;
    width:260px;
    margin-right:4px;
    border-radius: 4px;
}
input.uploadFile{
    position:absolute;
    right:0px;
    top:0px;
    opacity:0;
    filter:alpha(opacity=0);
    cursor:pointer;
    width:276px;
    height:36px;
    overflow: hidden;

}
a.link{
    float:left;
    display:inline-block;
    padding:4px 16px;
    color:#fff;
    font:14px "Microsoft YaHei", Verdana, Geneva, sans-serif;
    cursor:pointer;
    border-radius: 8px;
    background-color:#0099ff;
    line-height:24px;
    text-decoration:none;
}
.text_red {
    font-size: 12px;
    color: red;
    text-indent: 20px;
    height: 35px;
    line-height: 35px;
}


#wechat_menu .tips_info{background:#f7f7f7; border:1px solid #ddd; font-size:12px; line-height:220%; padding:10px; margin-bottom:10px;}
#wechat_menu .tips_info span{color:red; font-size:12px;}
#wechat_menu .tips_info a{color:#ff6600;}
#wechat_menu .m_menu .from{border:1px solid #ddd; background:#f7f7f7; padding:20px;}
#wechat_menu .m_menu .m_lefter{float:left; width:287px; padding:10px; border:1px solid #ddd; background:#f7f7f7; min-height:318px; _height:318px; overflow:hidden;}
#wechat_menu .m_menu .m_lefter dd{border:1px solid #f7f7f7; border-bottom:1px solid #ddd; background:#f7f7f7;}
#wechat_menu .m_menu .m_lefter dd.placeHolder{border:dashed 1px #1584D5; background:#fff;}
#wechat_menu .m_menu .m_lefter dd div.list{height:30px; line-height:30px; overflow:hidden; white-space:nowrap; text-overflow:ellipsis; cursor:move;}
#wechat_menu .m_menu .m_lefter dd div.no_ext{height:50px; line-height:50px;}
#wechat_menu .m_menu .m_lefter dd ul{padding-left:40px;}
#wechat_menu .m_menu .m_lefter ul li{height:24px; line-height:24px; overflow:hidden; font-size:12px; border:1px solid #f7f7f7;}
#wechat_menu .m_menu .m_lefter ul li:hover{background:#e6e6e6;}
#wechat_menu .m_menu .m_lefter ul li.placeHolder{border:dashed 1px #1584D5; background:#fff;}
#wechat_menu .m_menu .m_lefter ul li .title{height:24px; line-height:24px; float:left; overflow:hidden; white-space:nowrap; width:100px; text-overflow:ellipsis; cursor:move; font-size:12px;}
#wechat_menu .m_menu .m_lefter ul li .opt{float:right; padding-top:3px; padding-right:10px; display:none; cursor:move;}
#wechat_menu .m_menu .m_lefter .publish{padding:10px 0;}
#wechat_menu .m_menu .m_righter{float:left; width:50%; margin-left:10px;}
#wechat_menu .m_menu .m_righter form{padding:10px; border:1px solid #ddd; background:#f7f7f7; zoom:1;}
#wechat_menu .m_menu .m_righter .mod_form{border:1px dotted red;}
#wechat_menu .m_menu .m_righter h1{font-weight:bold; padding-bottom:5px; font-size: 20px; text-indent: 8px}
#wechat_menu .m_menu .m_righter td {
    text-align: left;
}
#wechat_menu .m_menu .m_righter input{
    float:left;
    width:300px;
    display:block;
    line-height:28px;
    border:1px solid #ddd;
    border-radius:5px;
    text-indent: 10px;
}
#wechat_menu .m_menu .m_righter select{
    height:32px;
    border:1px solid #ddd;
    border-radius:5px;
    padding:5px;
    width:220px;
    overflow:hidden;
}
#wechat_menu .m_menu .m_righter textarea{
    width:70%;
    height:80px;
    border-radius:5px;
    padding:5px;
    border:1px solid #ddd;
}
#wechat_menu .m_menu .m_righter img{
    width:20px;
    height:20px;
    margin:7px 0px 0px 5px;
    vertical-align:middle;
    cursor:pointer;
}

.mytable {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #CCCCCC;
    border-image: none;
    border-style: solid;
    border-width: 1px 0 0 1px;
}
.mytable td {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #CCCCCC;
    border-image: none;
    border-style: solid;
    border-width: 0 1px 1px 0;
    padding: 5px;
}